body {
    margin: 0;
    width: 100%;
    font-family: 'Source Sans Pro', sans-serif;
}

article {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: white;
    background-image: url("Foto%20gebouw%20gemeente.jpg");
    background-size: cover;
    height: 950px;
    flex-direction: column; 
}

article section {
    max-width: 600px;
    text-align: center;
    margin: 0 auto;
    border: 2px solid #f4f4f4;
    padding: 15px;
    background-color: #f4f4f4;
    margin-bottom: 20px; 
}

article section.contactgegevens {
    border: 2px solid #f4f4f4;
    padding: 15px;
    background-color: #f4f4f4;
    text-align: center;
    margin-top: 20px;
}

nav {
    background-color: #990011;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav li {
    margin: 0 10px;
}

nav a {
    text-decoration: none;
    color: white;
}

header {
    display: flex;
    align-items: center;
}

header img {
    margin-right: 10px;
}

footer {
    background-color: #464648;
    color: #829093;
    text-align: center;
    padding: 10px;
    font-family: 'Source Sans Pro', sans-serif;
}

.contactgegevens {
    display: flex;
    flex-direction: column;
}

.contactgegevens p {
    margin: 5px 0;
}
